.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}

.text {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: aquamarine;
    outline: 2px solid rgb(56, 65, 221);
    padding: 5px;
}

.columns {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    max-width: 50vw;
}